@charset "UTF-8";

.hidden
{
	display: none;
}

.container
{
	width: 1200px;
	margin: 0 auto;
	padding: 30px;
	overflow: none;
}

header
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

header h2
{
	font-family: 'Lilita One', Arial, sans-serif;
	font-size: 35px;
	transition: 2s;
	text-shadow: 0px 5px #cdcdcd;
}

header p
{
	line-height: 20px;
	text-align: center;
	font-family: Calibri, Arial, sans-serif;
	font-size: 16px;
	background-color: #efefef;
	padding: 20px;
	width: 800px;
}

header p span
{
	font-weight: bold;
}

.teamBox
{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}

.teamBox img
{
	width: 600px;
	position: absolute;
}

#imgOnHover
{
	position: relative;
}

.buttonRayn
{
	transition: 1.5s ease;
}

.buttonRayn:hover
{
	transform: scale(1.05);
	filter: brightness(130%);
}

.buttonKahani
{
	transition: 1.5s ease;
}

.buttonKahani:hover
{
	transform: scale(1.05);
	filter: brightness(130%);
}

.contentBox
{
	display: flex;
	flex-direction: row;
	position: relative;
	margin-top: -900px;
	width: 1200px;
}

.contentBox h2
{
	font-family: 'Lilita One', sans-serif;
	font-size: 30px;
	padding: 20px;
	background: #cdcdcd;
	margin-bottom: 20px;
	width: 560px;
	transition: 3s ease;
}

.contentBox h2:hover
{
	font-family: 'Lilita One', sans-serif;
	font-size: 30px;
	text-shadow: 5px 5px #888;
	padding: 20px;
	background: #cdcdcd;
	width: 240px;
}

.contentBox p
{
	font-family: Calibri, Arial, sans-serif;
	font-size: 18px;
	padding: 30px;
	padding-bottom: 0px;
	padding-top: 20px;
	text-indent: 30px;
}

#raynQuote
{
	text-align: center;
}

#kahaniQuote
{
	text-align: center;
	margin-top: 20px;
}

.contentRayn 
{
	height: 900px;
	width: 600px;
	background-color: #efefef;
	display: none;
}

.contentKahani
{
	height: 900px;
	width: 600px;
	background-color: #efefef;
	margin-left: 600px;
	display: none;
}

#imagesRayn
{
	display: flex;
	flex-direction: row;
	width: 600px;
	justify-content: space-evenly;
	margin-top: 20px;
}

#imagesRayn img
{
	transition: 5s;
	filter: grayscale(100%);
}

#imagesRayn img:hover
{
	transform: scale(0.95);
}

#imagesKahani
{
	display: flex;
	flex-direction: row;
	width: 600px;
	justify-content: space-evenly;
	margin-top: 40px;
	margin-bottom: 30px;
}

#imagesKahani img
{
	transition: 5s;
	filter: grayscale(100%);
	width: 243px;
	height: 240px;
}

#imagesKahani img:hover
{
	transform: scale(0.95);
}


#closeRayn
{
	padding: 5px;
	font-family: Calibri, Arial, sans-serif;
	font-size: 18px;
	transition: .5s;
	margin-left: 500px;
	margin-top: 50px;
	margin-bottom: 30px;
}

#closeRayn:hover
{
	opacity: .5;
}

#closeKahani
{
	padding: 5px;
	font-family: Calibri, Arial, sans-serif;
	font-size: 18px;
	transition: .5s;
	margin-left: 500px;
	margin-top: 40px;
}

#closeKahani:hover
{
	opacity: .5;
}

.Lightbox1-on
{
	height: 870px;
	width: 600px;
	background-color: rgba(240, 240, 240);
	display: block;
	-webkit-animation-name: lightboxSlide;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: 1;
}

@-webkit-keyframes lightboxSlide
{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
